html {
    font-size: 100%;
}

p {
    @include font-size(12, 10);
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;

    li:before {
        content: "\003E \0020";
    }
}
